/* Application */
/* General global styles */


/* . Layout . */
body {
	background: url('../images/background.png') repeat;
	padding: 0 2em;
}


header {
	font-family: neoretrodrawregular, znikomitno24regular, seasideresortnfregular, itsadzokes01regular, sans-serif;
	font-size: 80px;
	margin: 0.2em 0 0.4em;
}


.url-input {
	width: 80%;
	padding: 0.3em 0.4em;
	font-size: 1.5em;
}


#samples {
	margin: 3em 2em;
}