/* Sample Editor */
/* Progress bars and inputs to create & edit samples */

.edit-sample {
	margin: 0.4em 0;
}

.edit-sample > div {
	display: inline-block;
	vertical-align: middle;
}

.progress-bar {
	border: 1px solid #b9b9b9;
	width: 90%;
	height: 3em;
	position: relative;
	background-color: #ddd;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.clip-line {
	display: inline-block;
	position: relative;
	z-index: 5;
	width: 1px;
	height: 3em;
	background-color: #797979;
}

.drag-handle {
	width: 2em;
	height: 1em;
	position: relative;
	top: 0.7em;
	left: -1em;
	padding: 0.3em;
	cursor: ew-resize;
	line-height: 1.2;
	color: #414141;
	text-shadow: 0 1px 2px #f2f400;
	background-color: #dfe100;
	
	background: #e5e500; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e500 0%, #dfe100 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e500), color-stop(100%,#dfe100)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e500 0%,#dfe100 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e500 0%,#dfe100 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e500 0%,#dfe100 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e500 0%,#dfe100 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e500', endColorstr='#dfe100',GradientType=0 ); /* IE6-9 */
}

.drag-handle:active {
	background: #c4c600;
	background: #d1d100; /* Old browsers */
	background: -moz-linear-gradient(top,  #d1d100 0%, #c4c600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d100), color-stop(100%,#c4c600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d1d100 0%,#c4c600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d1d100 0%,#c4c600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d1d100 0%,#c4c600 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d1d100 0%,#c4c600 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d100', endColorstr='#c4c600',GradientType=0 ); /* IE6-9 */
}

.start-drag-handle {
	left: -2.6em;
	-webkit-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	-webkit-box-shadow: -2px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.stop-drag-handle {
	left: 0.05em;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	-webkit-box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.selected-bar {
	width: 0;
	height: 3em;
	position: absolute;
	top: 0;
	background-color: #4087a0;
	background: #499db7; /* Old browsers */
	background: -moz-linear-gradient(top,  #499db7 0%, #4087a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499db7), color-stop(100%,#4087a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #499db7 0%,#4087a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #499db7 0%,#4087a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #499db7 0%,#4087a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #499db7 0%,#4087a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499db7', endColorstr='#4087a0',GradientType=0 ); /* IE6-9 */
}


/* Key input */
.edit-sample .key-input {
	margin-top: 0.1em;
}